.messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    
}

.spinner {
    display: flex;
    align-items: center;
}

.lottie {
    display: flex;
    width: 80px;
    margin-bottom: 5px;
     margin-left: 0;
}